<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_dark.css') }}">

</head>
<body>
    <div class="container">
        <h1>Panel użytkownika</h1>
        <a class="button" href="{{ url_for('create_plan') }}">Stwórz Plan</a>
        <a class="button" href="{{ url_for('profile') }}">Mój Profil</a>
        <a class="button" href="{{ url_for('logout') }}">Wyloguj</a>
    </div>
</body>
</html>
