<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_dark.css') }}">
    <link rel="icon" type="image/webp" href="{{ url_for('static', filename='images/logo.webp') }}">

    <title>Strona główna</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1>Witaj w Menedżerze Diety i Treningów</h1>
    </div>
</body>
</html>
